# Verbose failures and tests.
build --verbose_failures
test --test_output=all

# Compile with C++17.
build --copt=/std:c++17

# Specify location of MSVC. (TODO necessary?)
# build --action_env BAZEL_VS="/cygdrive/c/Program Files(x86)/Microsoft Visual Studio/2019/BuildTools"

# Use toolchains. See https://github.com/bazelbuild/bazel/issues/7260.
build --incompatible_enable_cc_toolchain_resolution

# Verbose toolchain resolution output.
build --toolchain_resolution_debug

### Use toolchains instead of CROSSTOOLs

# Specify top directory of CROSSTOOL file.
#build:arm --crosstool_top=//toolchain:arm

# Specify target CPU architecture.
#build:arm --cpu=arm

# Enable cross compilation by specifying different host/target toolchains.
#build:arm --host_crosstool_top=@bazel_tools//tools/cpp:toolchain
